:focus:not(:focus-visible) {
    outline: 0;
    box-shadow: none;
  }
  
  /**
   * Cross-browser styles for explicit focus via 
   * keyboard-based (eg Tab) navigation or the
   * .focus-visible utility class.
   */
  :focus,
  .focus-visible:focus:not(:focus-visible) {
    outline: 0;
    box-shadow:
      0 0 0 .2rem #fff,
      0 0 0 .35rem #069;
  }