[33m63d5095[m[33m ([m[1;36mHEAD -> [m[1;32mmain[m[33m, [m[1;31morigin/main[m[33m)[m fix configuration files
[33m6b289ca[m edit order view, update db
[33m3272404[m edit landing page
[33mcb57c50[m edited rg/ admin/ and order/view.php
[33mb1b31e5[m edit rg/ and admin/
[33md76161b[m edit payment gateway
[33mdc42489[m added callback to processpayment
[33mf54dc3d[m update payment process
[33m0f9befc[m Update .gitignore
[33mf707e52[m edit payment feature
[33md5fd380[m Update confirmation.php
[33m733848a[m added payment function
[33meb369e3[m added change sumInsured feature
[33m98d63f1[m add requote.php
[33m1c2368b[m added car-motorcycle form
[33m50eb622[m Update view.php
[33mf74eeb2[m edit rg/
[33m12c9104[m update rg/
[33m4e2e874[m Update view.php
[33mfe76ca5[m edit rg/
[33mbb1fe73[m edit faqs.php
[33m7bb3fc2[m edit rg/view.php
[33me51eee6[m edit accordion view
[33m2ce6b24[m edit form
[33mdd218d0[m Create rejected.php
[33m3d86f51[m test payment
[33md822b0e[m added .vscode
[33md751a5a[m edit styling
[33m84d3a60[m edit email
[33maf0e81a[m added confirmation.php
[33m3027d9d[m edit view.php
[33m9d42ab4[m edit rg/
[33m3004a2c[m edit styling
[33m757c106[m edit styling
[33m13e5e40[m added whatsapp floating icon
[33mfb92378[m edit styling
[33m9bee205[m edit rg page
[33mba12661[m edit styling
[33m34df441[m edit styling
[33m97ba2c5[m edit styling
[33m03c301c[m edit styling
[33m53411d0[m added FAQS
[33m4adca39[m change ui
[33mbacf81f[m edit responsive mobile
[33mb67be32[m Update index.php
[33m3b416b4[m edit UI on main site
[33m433a940[m Update view.php
[33m5b2e0f7[m edit nav
[33mff3db56[m edit styling
[33m9aea4f9[m edit styling
[33m51e6311[m Update view.php
[33md61e704[m edit styling
[33m80d3b38[m edit styling
[33m550e171[m edit navbar
[33med84233[m added fontawesome and bootstrap
[33m0146361[m Create view-backup.php
[33ma64468e[m Delete .htaccess
[33m27f42d6[m added img
[33me018e45[m Update index.php
[33m1f4395f[m Update index.php
[33m0d2b582[m Create .htaccess
[33m252bb81[m edit admin page
[33m3422c52[m added qtnpage
[33m280828e[m edit quotation and generate quote
[33mb682954[m edit quotation page
[33m43fd0a0[m edit editquotation.php
[33m04f8fbe[m Update editquotation.php
[33m2af94e4[m adjust form, added getState from postcode
[33m663c192[m edit editquotation.php
[33m849d8ae[m Merge branch 'main' of https://github.com/zharifzakaria/instaroadtax
[33me8c419e[m added login, logout
[33m704a671[m Delete reg documents directory
[33m1a81452[m Delete vendor directory
[33m150da9f[m Delete icons directory
[33m4a28a99[m Update .gitignore
[33m6bf5c68[m Initial commit
